.content {
  color: var(--bg);
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
}
.body_top_links {
  position: relative;
}
/* .body_top_links::after {
  content: "sd";
  display: block;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: -100%;
  color: blue;
  left: 1px;
  height: 3rem;
  transform: scaleY(0);
  transform-origin: top center;
  border-left: 1.4px solid #222;
}
.body_top_links:hover::after {
  color: rgb(255, 0, 0);
  transition: all 200ms ease;
  transform: scaleY(1);
  bottom: 0;
} */
.HomePage {
  margin-top: 4.5rem;

  position: relative;
  font-family: inherit;
}
.😎 {
}
/* projects section */
.projects {
}
.plane {
  position: absolute;
  width: 19rem;
  top: 10rem;
  left: -10rem;

  /* transform: translateX(-50%); */
}
.plane > svg {
  width: 100%;
  height: 100%;
  /* color: #2625249c; */
}
.plane-r {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 10rem;
  /* transform: translateY(-19%); */
  right: -90%;
}
.HomePage__para {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.HomePage__para p:first-child {
  font-size: 2rem;
  /* margin-left: 4rem; */
  position: relative;
  font-weight: 1000;
}
.HomePage__para p:first-child::after {
  font-weight: 400;
  bottom: -0.9rem;
  right: 1rem;
  position: absolute;
  font-size: medium;
  display: block;
  content: "-Yes i'm";
  color: #222;
}
@media screen and (min-width: 600px) {
  /* .HomePage {
    color: rebeccapurple;
  } */
  .plane {
    position: absolute;
    width: 19rem;
    top: 10rem;
    left: -15rem;

    /* transform: translateX(-50%); */
  }
}
.msg {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.msg > p {
  position: relative;
  font-size: 10vw;

}
/* .err_msg{
  position: relative;
}
.err_msg::after{
  content: 'may be in the future';
  font-size: 0.8rem;
  position: absolute;
  top: 1.2rem;
  left: 0;

} */
.mar-2{
  margin-top: 4rem;
}