*, *:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            
}
  body{
   
    
  }
  div.container{
    margin-top: 16px;
    margin-left: 10px; ;
   margin-bottom: 0px; 
  
    text-align: center;
    justify-content:center ;
    color: rgb(0, 82, 206);

  }
  div.vishnu:hover{color: blanchedalmond;
    border-bottom: 2px solid tomato;
  border-radius: 1px;}
  
  div.vishnu{
    text-align: center;
    top: 50%;

    float: left;
    transition: all 0.4s ease-in;
    color: blue;
    padding-top: 6px;
    

  }

  div.navi{
    
    margin-left: 300px;
  
  }
  .navbar{display: flex;
    justify-content: flex-end;
  }

  .button ,.button1
  {
    background-color: white;
    color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration:none;
    
  }