@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap");
* {
  box-sizing: border-box;
  --bg-dark-g: #222;
  --bg-light: #fff;

  --fg-light: #fff;
  --btn-bg: #fff;
  --btn-fg: #262524;
  font: 16px "Poppins";

  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-light);
  color: var(--fg-light);
  padding: 0;
  margin: 0 auto;
  width: 75%;
  scroll-behavior: smooth;
  height: 100vh;
  min-height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: rebeccapurple;
  font-family: inherit;
}
button {
  background-color: var(--btn-bg);
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 2px 4px;
  transition: transform 200ms ease;
  box-shadow: none;
}
button:active {
  box-shadow: none;
  outline: none;
  transform: scale(1.09);
}
button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem #fff,
    /* use site bg color to create whitespace for faux focus ring */ 0 0 0
      0.35rem #069 !important; /* faux focus ring color */
}
button:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

ul {
  list-style-type: none;
  font-family: inherit;
}
li {
  text-decoration: none;
}
